@charset "UTF-8";

.u-menu {
    $background-menu-color: var(--background-color-2, #fff);
    $background-menu-hover-color: var(--background-hover-1, rgb(240, 240, 240));
    $box-shadow-color: var(--box-shadow-color, #000);
    $font-color: var(--text-color-2, #000);
    $transition-duration: 0.2s;
    @include size(2rem, 100%);
    display: flex;
    min-width: 160px;
    padding-top: 0.1rem;
    overflow: hidden;
    font-weight: 400;
    color: $font-color;
    background-color: $background-menu-color;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);
    transition-duration: $transition-duration;
    transition-property: all;
    transition-timing-function: ease-in-out;
    flex-direction: column;

    > .menu-section {
        overflow: hidden;
        flex: 1;

        .os-host {
            height: 100%;
        }

        .menu-group {
            .menu-group-title {
                .menu-group-title-name {
                    flex: 1;
                }

                .ivu-icon-md-arrow-dropdown {
                    transition: transform $transition-duration ease-in-out;
                }
            }

            .menu-item-container {
                overflow: hidden;
                transition: height $transition-duration ease-in-out;
            }

            &.opened {
                .ivu-icon-md-arrow-dropdown {
                    transform: rotateZ(180deg);
                }

                .menu-item-container {
                    overflow: hidden;
                }
            }
        }

        .router-link {
            @include size(100%, 0.45rem);
            @include flex(row, flex-start, center);
            padding: 0 0.31rem;
            font-size: 0.16rem;
            letter-spacing: 0.01rem;
            color: rgba(144, 147, 153, 1);
            cursor: pointer;
            user-select: none;

            &:hover {
                // background-color: rgb(240, 240, 240);
                background-color: $background-menu-hover-color;
            }

            > span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            > .iconfont {
                margin-right: 0.18rem;
                font-size: 0.16rem;
                color: rgba(144, 147, 153, 1);
            }

            &.router-link-active {
                @extend %router-link-active;
            }
        }
    }

    > .menu-footer {
        width: 100%;
        padding: 0.1rem;
        color: #56abfe;
        text-align: right;

        .iconfont {
            display: inline-block;
            padding: 0.1rem;
            font-size: 0.16rem;
            cursor: pointer;
            transform: rotateZ(0deg);
            transition: transform $transition-duration ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }

        .icon-collapse {
            @include bg-img("~@/assets/images/menu.png");
        }
    }
}

.u-menu.collapsed {
    width: 0.6rem;
    min-width: 50px;

    > .menu-section {
        overflow-y: auto;

        .router-link {
            @include flex(row, center, center);
            padding: 0;

            .iconfont {
                margin: 0;
            }

            &.router-link-active {
                background-size: 90% 95%;
            }
        }

        .ivu-dropdown,
        .ivu-dropdown-rel {
            width: 100%;
        }
    }

    > .menu-footer {
        text-align: center;

        .iconfont {
            margin-right: unset;
            transform: rotateZ(180deg);
        }
    }
}

.ivu-dropdown-menu-diy {
    .ivu-dropdown-item {
        padding: 0;
    }

    .router-link {
        padding: 0.1rem 0.25rem;

        .iconfont {
            margin-right: 0.18rem;
        }
    }

    .router-link-active {
        @extend %router-link-active;
    }
}

%router-link-active {
    position: relative;
    color: #fff;

    .iconfont {
        color: #fff;
    }

    > i,
    > span {
        z-index: 1;
    }

    &::after {
        position: absolute;
        top: 0.02rem;
        right: 0.1rem;
        bottom: 0.021rem;
        left: 0.1rem;
        display: inline-block;
        background-image: linear-gradient(90deg,
        rgba(179, 192, 255, 1),
        rgba(32, 97, 211, 1));
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0.45rem;
        content: "";
    }
}
