@charset "UTF-8";

.u-header {
    @include flex(row, space-between, center);
    @include size(100%, 0.6rem);
    overflow: hidden;

    background-color: var(--background-color, #fff);
    box-shadow: 0 2px 4px 2px var(--box-shadow-color, #000);

    .center {
        @include flex(row, center, center);
        flex: 1;

        .menus {
            @include flex(row, center, center);
            position: relative;
        }

        .link-bar {
            @include size(1.5rem, 2px);
            position: absolute;
            bottom: 1px;
            left: 0;
            padding: 0 0.22rem;
            background-color: #2d8cf0;
            transform: translateZ(0);
            // transform: translate3d(1.5rem, 0, 0);
            transform: translateX(1.5rem);
            transition: transform 0.2s ease-in-out;
            background-clip: content-box;
        }
    }

    .router-link-content {
        @include size(1.5rem, 0.6rem);
        line-height: 0.6rem;
        text-align: center;

        > a {
            @include size(2.2rem, 1.2rem);
            display: inline-block;
            margin: 0 0.2rem;
            font-size: 0.32rem;
            font-weight: 550;
            line-height: 1.2rem;
            letter-spacing: 0.02rem;
            color: #000;
            cursor: pointer;
            transform: scale(0.5);
            user-select: none;
            transform-origin: 0 0;

            &.actived {
                color: #1583ff;
            }

            &:hover {
                color: #1583ff;
                opacity: 0.8;
            }
        }

    }
}
