@charset "UTF-8";

.u-header {
    @include flex(row, space-between, center);
    @include size(100%, 0.6rem);
    overflow: hidden;
    background-color: var(--background-color, #fff);
    box-shadow: 0 2px 4px 2px var(--box-shadow-color, #000);

    .center {
        @include flex(row, center, center);
        flex: 1;

        .menus {
            @include flex(row, center, center);
            position: relative;
        }
    }

    .router-link {
        @include size(1.5rem, 0.6rem);
        font-size: 0.24;
        font-weight: 550;
        line-height: 0.6rem;
        letter-spacing: 0.02rem;
        color: #000;
        text-align: center;
        cursor: pointer;
        user-select: none;

        &.router-link-active {
            color: #1583ff;
        }

        &:hover {
            color: #1583ff;
            opacity: 0.8;
        }
    }
}
