@charset "UTF-8";

.v-qiankun-layout-wrapper {
    @include size();
    @include transition-color();
    @include flex(column, flex-start, flex-start);
    position: relative;
    /*字体颜色*/
    color: var(--text-color, unset);
    /*背景*/
    background-color: var(--background-color-4, #f7f7f7);

    .u-header {
        z-index: 1;
    }

    > .subapp-viewport {
        @include size();
        overflow: hidden;
        flex: 1;

        > div {
            // 修改挂载的微应用容器样式
            @include size;
            overflow: hidden;
        }
    }
}
