<!DOCTYPE html>
<div class="setting-wrapper">
    <i-dropdown transfer class="user-info" @on-click="onClick">
        <img class="image-viewer" :src="photo" :errorImg="errorAvatar">
        <i-dropdown-menu slot="list">
            <i-dropdown-item name="theme">
                <i-icon type="md-color-palette" />
                <span>换肤</span>
            </i-dropdown-item>
            <i-dropdown-item name="logout">
                <i-icon type="md-power" />
                <span>注销</span>
            </i-dropdown-item>
        </i-dropdown-menu>
    </i-dropdown>

    <i-modal v-model="show" draggable scrollable transfer title="修改皮肤" class-name="skin-modal-wrapper">
        <div class="skin-content">
            <i-radio-group v-model="skinId">
                <i-radio v-for="(item,index) in skins" :key="index" :label="item.id">{{item.title}}</i-radio>
            </i-radio-group>
        </div>
        <template slot="footer">
            <i-button type="text" v-on:click="onCancel">取消</i-button>
            <i-button type="primary" v-on:click="onConfirm">确认</i-button>
        </template>
    </i-modal>
</div>
