@charset "UTF-8";

.setting-wrapper {
    @include flex(row, center, center);
    height: 100%;

    .action-icons {
        @include flex(row, center, center);
        height: 100%;
        cursor: pointer;
    }

    .action-icon {
        @include size(0.24rem, 0.24rem);
        display: inline-block;
        margin-right: 0.24rem;
    }

    .ivu-badge-diy {
        height: 0.24rem;
        user-select: none;

        .ivu-badge-count {
            top: -0.08rem;
            right: 0.15rem;
            display: inline-block;
            height: 0.2rem;
            min-width: 0.2rem;
            padding: 0;
            font-size: 0.12rem;
            line-height: 0.2rem;
            border: 0 none;
            transform: scale(0.8);
        }

        &:hover {
            .ivu-badge-count {
                opacity: 0.8;
            }
        }
    }

    .image-viewer {
        @include size(0.4rem, 0.4rem);
        @include flex(row, center, center);
        margin: 0 0.16rem 0 0.09rem;
        overflow: hidden;
        border-radius: 0.2rem;
    }
}

.skin-modal-wrapper {
    .ivu-modal-header {
        border-bottom: 0;
    }

    .skin-content {
        text-align: center;

        .ivu-radio-wrapper {
            margin-right: 0.5rem;
        }
    }

    .ivu-modal-footer {
        border-top: 0;
    }
}
