<nav class="u-menu" :class="{'collapsed': collapsed}">
    <section class="menu-section">
        <template v-for="(menu, index) in menus">
            <!-- 含有二级菜单 -->
            <div
                v-if="menu.children"
                class="menu-group"
                :class="{'opened': menu.open}"
            >
                <!-- 展开的菜单 -->
                <template v-if="!collapsed">
                    <div
                        class="menu-group-title router-link"
                        @click="menu.open = !menu.open"
                    >
                        <span class="iconfont" :class="menu.icon"></span>
                        <span class="menu-group-title-name">{{menu.name}}</span>
                        <i-icon type="md-arrow-dropdown" />
                    </div>
                    <div
                        class="menu-item-container"
                        :style="menu.open ? 'height:' + 0.45 * menu.children.length + 'rem;' : 'height:0rem'"
                    >
                        <template v-for="c in menu.children">
                            <div class="menu-item">
                                <router-link
                                    :to="{name: c.routeName}"
                                    class="router-link"
                                    tag="div"
                                >
                                    <span
                                        class="iconfont"
                                        :class="c.icon"
                                    ></span>
                                    <span>{{c.name}}</span>
                                </router-link>
                            </div>
                        </template>
                    </div>
                </template>
                <!-- 收缩后的菜单 -->
                <template v-else>
                    <i-dropdown
                        placement="right-start"
                        transfer
                        transfer-class-name="ivu-dropdown-menu-diy"
                        trigger="hover"
                    >
                        <span
                            class="iconfont router-link"
                            :class="menu.icon"
                            :title="menu.name"
                        ></span>
                        <i-dropdown-menu slot="list">
                            <template v-for="c in menu.children">
                                <i-dropdown-item>
                                    <router-link
                                        :to="{name: c.routeName}"
                                        class="router-link"
                                        tag="div"
                                    >
                                        <!-- <span class="iconfont" :class="c.icon"></span> -->
                                        <i-icon
                                            v-if="c.icon"
                                            :type="c.icon"
                                            :title="collapsed ? c.name:''"
                                        />
                                        {{c.name}}
                                    </router-link>
                                </i-dropdown-item>
                            </template>
                        </i-dropdown-menu>
                    </i-dropdown>
                </template>
            </div>
            <!-- 仅含一级菜单 -->
            <div v-else class="menu-item">
                <router-link
                    :to="{name: menu.routeName}"
                    class="router-link"
                    tag="div"
                >
                    <span
                        class="iconfont"
                        :class="menu.icon"
                        :title="collapsed ? menu.name:''"
                    ></span>
                    <!-- <i-icon v-if="menu.icon" :type="menu.icon" :title="collapsed ? menu.name:''"/> -->
                    <span v-if="!collapsed">{{menu.name}}</span>
                    <span v-if="!menu.icon && collapsed"
                        >{{menu.name && menu.name.length && menu.name[0]}}</span
                    >
                </router-link>
            </div>
        </template>
    </section>
    <footer class="menu-footer">
        <span class="iconfont icon-collapse" @click="onToggleClick"></span>
    </footer>
</nav>
