@keyframes intro {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

.v-welcome {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
    
    &-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        color: #fff;
        text-align: center;
        transform: translateY(-50%);
        animation: intro 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

        h1 {
            font-size: 78px;
            letter-spacing: 2px;
        }
    }
}
